<div
  class="footer-backdrop is-hidden js-close-modal"
  id="backdrop-modal"
  data-modal
>
  <div class="modal-body modal-footer">
    <div class="footer-modal">
      <button class="modal-button-close" data-modal-close-contacts>
        <svg class="modal-icon-close" width="11" height="11">
          <use href="./images/icons.svg#icon-close"></use>
        </svg>
      </button>
      <p class="team-modal-title">T_T team</p>

      <ul class="team-list list">
        <!-- 1 -->
        <li class="team-item">
          <img
            class="team-students-foto"
            src="./images/footer-modal/team-member.jpg"
            alt="first team member"
            width="264"
          />
          <div>
            <h3 class="team-member-title">Novitskyi Volodymyr</h3>
            <p class="team-item-text">Team lead</p>
            <ul class="member-soc-list list">
              <li class="member-soc-item">
                <a
                  href="https://github.com/"
                  class="member-soc-link link"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                  aria-label="link to Github"
                >
                  <svg class="member-soc-icon" width="40" height="40">
                    <use href="./images/icons.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="member-soc-item">
                <a
                  href="https://www.linkedin.com/"
                  class="member-soc-link link"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                  aria-label="link to Linkedin"
                >
                  <svg class="member-soc-icon" width="28" height="28">
                    <use href="./images/icons.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>

        <!-- 2nd -->
        <li class="team-item">
          <img
            class="team-students-foto"
            src="./images/footer-modal/team-member-2.jpg"
            alt="first team member"
            width="264"
          />
          <div>
            <h3 class="team-member-title">Pirogova Anastasiia</h3>
            <p class="team-item-text">Scrum master</p>
            <ul class="member-soc-list list">
              <li class="member-soc-item">
                <a
                  href="https://github.com/Nastia-Pirogova"
                  class="member-soc-link link"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                  aria-label="link to Github"
                >
                  <svg class="member-soc-icon" width="40" height="40">
                    <use href="./images/icons.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="member-soc-item">
                <a
                  href="https://www.linkedin.com/in/anastasia-pirogova/"
                  class="member-soc-link link"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                  aria-label="link to Linkedin"
                >
                  <svg class="member-soc-icon" width="28" height="28">
                    <use href="./images/icons.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <!-- 3rd -->
        <li class="team-item">
          <img
            class="team-students-foto"
            src="./images/footer-modal/team-member.jpg"
            alt="first team member"
            width="264"
          />
          <div>
            <h3 class="team-member-title">Burminskyi Anton</h3>
            <p class="team-item-text">Developer</p>
            <ul class="member-soc-list list">
              <li class="member-soc-item">
                <a
                  href="https://github.com/"
                  class="member-soc-link link"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                  aria-label="link to Github"
                >
                  <svg class="member-soc-icon" width="40" height="40">
                    <use href="./images/icons.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="member-soc-item">
                <a
                  href="https://www.linkedin.com/"
                  class="member-soc-link link"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                  aria-label="link to Linkedin"
                >
                  <svg class="member-soc-icon" width="28" height="28">
                    <use href="./images/icons.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <!-- 4th -->
        <li class="team-item">
          <img
            class="team-students-foto"
            src="./images/footer-modal/team-member-2.jpg"
            alt="first team member"
            width="264"
          />
          <div>
            <h3 class="team-member-title">Kerbut Yuliia</h3>
            <p class="team-item-text">Developer</p>
            <ul class="member-soc-list list">
              <li class="member-soc-item">
                <a
                  href="https://github.com/"
                  class="member-soc-link link"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                  aria-label="link to Github"
                >
                  <svg class="member-soc-icon" width="40" height="40">
                    <use href="./images/icons.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="member-soc-item">
                <a
                  href="https://www.linkedin.com/"
                  class="member-soc-link link"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                  aria-label="link to Linkedin"
                >
                  <svg class="member-soc-icon" width="28" height="28">
                    <use href="./images/icons.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <!-- 5th -->
        <li class="team-item">
          <img
            class="team-students-foto"
            src="./images/footer-modal/team-member-2.jpg"
            alt="first team member"
            width="264"
          />
          <div>
            <h3 class="team-member-title">Beskrovna Larisa</h3>
            <p class="team-item-text">Developer</p>
            <ul class="member-soc-list list">
              <li class="member-soc-item">
                <a
                  href="https://github.com/"
                  class="member-soc-link link"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                  aria-label="link to Github"
                >
                  <svg class="member-soc-icon" width="40" height="40">
                    <use href="./images/icons.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="member-soc-item">
                <a
                  href="https://www.linkedin.com/"
                  class="member-soc-link link"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                  aria-label="link to Linkedin"
                >
                  <svg class="member-soc-icon" width="28" height="28">
                    <use href="./images/icons.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <!-- 6th -->
        <li class="team-item">
          <img
            class="team-students-foto"
            src="./images/footer-modal/team-member-2.jpg"
            alt="first team member"
            width="264"
          />
          <div>
            <h3 class="team-member-title">Kolesnichenko Anna</h3>
            <p class="team-item-text">Developer</p>
            <ul class="member-soc-list list">
              <li class="member-soc-item">
                <a
                  href="https://github.com/"
                  class="member-soc-link link"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                  aria-label="link to Github"
                >
                  <svg class="member-soc-icon" width="40" height="40">
                    <use href="./images/icons.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="member-soc-item">
                <a
                  href="https://www.linkedin.com/"
                  class="member-soc-link link"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                  aria-label="link to Linkedin"
                >
                  <svg class="member-soc-icon" width="28" height="28">
                    <use href="./images/icons.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <!-- 7th -->
        <li class="team-item">
          <img
            class="team-students-foto"
            src="./images/footer-modal/team-member-2.jpg"
            alt="first team member"
            width="264"
          />
          <div>
            <h3 class="team-member-title">Pavlova Valeriya</h3>
            <p class="team-item-text">Developer</p>
            <ul class="member-soc-list list">
              <li class="member-soc-item">
                <a
                  href="https://github.com/"
                  class="member-soc-link link"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                  aria-label="link to Github"
                >
                  <svg class="member-soc-icon" width="40" height="40">
                    <use href="./images/icons.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="member-soc-item">
                <a
                  href="https://www.linkedin.com/"
                  class="member-soc-link link"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                  aria-label="link to Linkedin"
                >
                  <svg class="member-soc-icon" width="28" height="28">
                    <use href="./images/icons.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <!-- 8th -->
        <li class="team-item">
          <img
            class="team-students-foto"
            src="./images/footer-modal/team-member.jpg"
            alt="first team member"
            width="264"
          />
          <div>
            <h3 class="team-member-title">Pokasiuk Mykyta</h3>
            <p class="team-item-text">Developer</p>
            <ul class="member-soc-list list">
              <li class="member-soc-item">
                <a
                  href="https://github.com/"
                  class="member-soc-link link"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                  aria-label="link to Github"
                >
                  <svg class="member-soc-icon" width="40" height="40">
                    <use href="./images/icons.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="member-soc-item">
                <a
                  href="https://www.linkedin.com/"
                  class="member-soc-link link"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                  aria-label="link to Linkedin"
                >
                  <svg class="member-soc-icon" width="28" height="28">
                    <use href="./images/icons.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <!-- 9th -->
        <li class="team-item">
          <img
            class="team-students-foto"
            src="./images/footer-modal/team-member-2.jpg"
            alt="first team member"
            width="264"
          />
          <div>
            <h3 class="team-member-title">Khyzhniak Tetiana</h3>
            <p class="team-item-text">Developer</p>
            <ul class="member-soc-list list">
              <li class="member-soc-item">
                <a
                  href="https://github.com/TataUA"
                  class="member-soc-link link"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                  aria-label="link to Github"
                >
                  <svg class="member-soc-icon" width="40" height="40">
                    <use href="./images/icons.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="member-soc-item">
                <a
                  href="https://www.linkedin.com/in/tetiana-khyzhniak/"
                  class="member-soc-link link"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                  aria-label="link to Linkedin"
                >
                  <svg class="member-soc-icon" width="28" height="28">
                    <use href="./images/icons.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <!-- 10th -->
        <li class="team-item">
          <img
            class="team-students-foto"
            src="./images/footer-modal/team-member-2.jpg"
            alt="first team member"
            width="264"
          />
          <div>
            <h3 class="team-member-title">Tsymbalyuk Maria</h3>
            <p class="team-item-text">Developer</p>
            <ul class="member-soc-list list">
              <li class="member-soc-item">
                <a
                  href="https://github.com/"
                  class="member-soc-link link"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                  aria-label="link to Github"
                >
                  <svg class="member-soc-icon" width="40" height="40">
                    <use href="./images/icons.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="member-soc-item">
                <a
                  href="https://www.linkedin.com/"
                  class="member-soc-link link"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                  aria-label="link to Linkedin"
                >
                  <svg class="member-soc-icon" width="28" height="28">
                    <use href="./images/icons.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <!-- 11th -->
        <li class="team-item">
          <img
            class="team-students-foto"
            src="./images/footer-modal/team-member.jpg"
            alt="first team member"
            width="264"
          />
          <div>
            <h3 class="team-member-title">Syrota Serhii</h3>
            <p class="team-item-text">Developer</p>
            <ul class="member-soc-list list">
              <li class="member-soc-item">
                <a
                  href="https://github.com/"
                  class="member-soc-link link"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                  aria-label="link to Github"
                >
                  <svg class="member-soc-icon" width="40" height="40">
                    <use href="./images/icons.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="member-soc-item">
                <a
                  href="https://www.linkedin.com/"
                  class="member-soc-link link"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                  aria-label="link to Linkedin"
                >
                  <svg class="member-soc-icon" width="28" height="28">
                    <use href="./images/icons.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <!-- 12th -->
        <li class="team-item">
          <img
            class="team-students-foto"
            src="./images/footer-modal/team-member.jpg"
            alt="first team member"
            width="264"
          />
          <div>
            <h3 class="team-member-title">Chubenko Maksym</h3>
            <p class="team-item-text">Developer</p>
            <ul class="member-soc-list list">
              <li class="member-soc-item">
                <a
                  href="https://github.com/"
                  class="member-soc-link link"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                  aria-label="link to Github"
                >
                  <svg class="member-soc-icon" width="40" height="40">
                    <use href="./images/icons.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="member-soc-item">
                <a
                  href="https://www.linkedin.com/"
                  class="member-soc-link link"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                  aria-label="link to Linkedin"
                >
                  <svg class="member-soc-icon" width="28" height="28">
                    <use href="./images/icons.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <!-- 13th -->
        <li class="team-item">
          <img
            class="team-students-foto"
            src="./images/footer-modal/team-member.jpg"
            alt="first team member"
            width="264"
          />
          <div>
            <h3 class="team-member-title">Shapovalov Serhii</h3>
            <p class="team-item-text">Developer</p>
            <ul class="member-soc-list list">
              <li class="member-soc-item">
                <a
                  href="https://github.com/"
                  class="member-soc-link link"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                  aria-label="link to Github"
                >
                  <svg class="member-soc-icon" width="40" height="40">
                    <use href="./images/icons.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="member-soc-item">
                <a
                  href="https://www.linkedin.com/"
                  class="member-soc-link link"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                  aria-label="link to Linkedin"
                >
                  <svg class="member-soc-icon" width="28" height="28">
                    <use href="./images/icons.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
