<div class="footer__backdrop is-hidden" id="backdrop__modal">
  <div  class="modal__body modal__footer js-close-modal">
    <div class="footer__modal">
      <button class="modal__button-close" data-modal-close-contacts>
        <svg class="modal__icon-close" width="24" height="24">
          <use href="../images/icons.svg#icon-close-outline"></use>
        </svg>
      </button>
      <p class="team-modal-title">T_T team</p>

      <ul class="team__list">
        <!-- 1 -->
        <li class="portfolio-item card app">
          <div class="card-thumb">
            <picture>
              <source
                srcset="
                  ./images/banking-app-interface-concept-desktop.jpg    1x,
                  ./images/banking-app-interface-concept-desktop@2x.jpg 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  ./images/banking-app-interface-concept-tablet.jpg    1x,
                  ./images/banking-app-interface-concept-tablet@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/banking-app-interface-concept-mobile.jpg    1x,
                  ./images/banking-app-interface-concept-mobile@2x.jpg 2x
                "
                media="(min-width: 320px)"
              />
              <img
                src="./images/banking-app-interface-concept-mobile.jpg"
                alt="banking app interface concept"
                width="396"
                height="280"
              />
            </picture>
            <div class="team-member">
              <h3 class="team-member-title">Novitskyi Volodymyr</h3>
              <p class="team-item-text">Team lead</p>
              <ul class="member-soc-list list">
                <li class="member-soc-item">
                  <a
                    href="https://github.com/"
                    class="member-soc-link link"
                    target="_blank"
                    rel="noopener noreferrer nofollow"
                    aria-label="link to Github"
                  >
                    <svg class="member-soc-icon" width="40" height="40">
                      <use href="./images/icons.svg#icon-github"></use>
                    </svg>
                  </a>
                </li>
                <li class="member-soc-item">
                  <a
                    href="https://www.linkedin.com/"
                    class="member-soc-link link"
                    target="_blank"
                    rel="noopener noreferrer nofollow"
                    aria-label="link to Linkedin"
                  >
                    <svg class="member-soc-icon" width="16" height="16">
                      <use href="./images/icons.svg#linkedin"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
            <p class="card-thumb-text">
              14 Stylish and User-Friendly App Design Concepts · Task Manager
              App · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud
              Storage App
            </p>
          </div>
        </li>

        <!-- 2nd -->
        <li class="portfolio-item card app">
          <div class="card-thumb">
            <picture>
              <source
                srcset="
                  ./images/banking-app-interface-concept-desktop.jpg    1x,
                  ./images/banking-app-interface-concept-desktop@2x.jpg 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  ./images/banking-app-interface-concept-tablet.jpg    1x,
                  ./images/banking-app-interface-concept-tablet@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/banking-app-interface-concept-mobile.jpg    1x,
                  ./images/banking-app-interface-concept-mobile@2x.jpg 2x
                "
                media="(min-width: 320px)"
              />
              <img
                src="./images/banking-app-interface-concept-mobile.jpg"
                alt="banking app interface concept"
                width="396"
                height="280"
              />
            </picture>
            <div class="team-member">
              <h3 class="team-member-title">Pyrohova Anastasiia</h3>
              <p class="team-item-text">Scrum master</p>
              <ul class="member-soc-list list">
                <li class="member-soc-item">
                  <a
                    href="https://github.com/"
                    class="member-soc-link link"
                    target="_blank"
                    rel="noopener noreferrer nofollow"
                    aria-label="link to Github"
                  >
                    <svg class="member-soc-icon" width="40" height="40">
                      <use href="./images/icons.svg#icon-github"></use>
                    </svg>
                  </a>
                </li>
                <li class="member-soc-item">
                  <a
                    href="https://www.linkedin.com/"
                    class="member-soc-link link"
                    target="_blank"
                    rel="noopener noreferrer nofollow"
                    aria-label="link to Linkedin"
                  >
                    <svg class="member-soc-icon" width="16" height="16">
                      <use href="./images/icons.svg#linkedin"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
            <p class="card-thumb-text">
              14 Stylish and User-Friendly App Design Concepts · Task Manager
              App · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud
              Storage App
            </p>
          </div>
        </li>
        <!-- 3rd -->
        <li class="portfolio-item card app">
          <div class="card-thumb">
            <picture>
              <source
                srcset="
                  ./images/banking-app-interface-concept-desktop.jpg    1x,
                  ./images/banking-app-interface-concept-desktop@2x.jpg 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  ./images/banking-app-interface-concept-tablet.jpg    1x,
                  ./images/banking-app-interface-concept-tablet@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/banking-app-interface-concept-mobile.jpg    1x,
                  ./images/banking-app-interface-concept-mobile@2x.jpg 2x
                "
                media="(min-width: 320px)"
              />
              <img
                src="./images/banking-app-interface-concept-mobile.jpg"
                alt="banking app interface concept"
                width="396"
                height="280"
              />
            </picture>
            <div class="team-member">
              <h3 class="team-member-title">Pyrohova Anastasiia</h3>
              <p class="team-item-text">Developer</p>
              <ul class="member-soc-list list">
                <li class="member-soc-item">
                  <a
                    href="https://github.com/"
                    class="member-soc-link link"
                    target="_blank"
                    rel="noopener noreferrer nofollow"
                    aria-label="link to Github"
                  >
                    <svg class="member-soc-icon" width="40" height="40">
                      <use href="./images/icons.svg#icon-github"></use>
                    </svg>
                  </a>
                </li>
                <li class="member-soc-item">
                  <a
                    href="https://www.linkedin.com/"
                    class="member-soc-link link"
                    target="_blank"
                    rel="noopener noreferrer nofollow"
                    aria-label="link to Linkedin"
                  >
                    <svg class="member-soc-icon" width="16" height="16">
                      <use href="./images/icons.svg#linkedin"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
            <p class="card-thumb-text">
              14 Stylish and User-Friendly App Design Concepts · Task Manager
              App · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud
              Storage App
            </p>
          </div>
        </li>
        <!-- 4th -->

        <!-- 5th -->

        <!-- 6th -->

        <!-- 7th -->

        <!-- 8th -->

        <!-- 9th -->

        <!-- 10th -->

        <!-- 11th -->

        <!-- 12th -->

        <!-- 13th -->

        <!-- 14th -->
      </ul>
    </div>
  </div>
</div>
