<div
  class="footer-backdrop is-hidden js-close-modal"
  id="backdrop-modal"
  data-modal
>
  <div class="modal-body modal-footer">
    <div class="footer-modal">
      <button class="modal-button-close" aria-label="close footer modal" data-modal-close-contacts>
        <svg class="modal-icon-close" width="11" height="11">
          <use href="./images/icons.svg#icon-close"></use>
        </svg>
      </button>
      <p class="team-modal-title">"Code13" team</p>

      <ul class="team-list list">
        <!-- 1 -->
        <li class="team-item">
          <div class="card-thumb">
            <img
              class="team-students-foto"
              src="./images/footer-modal/novitskyi-volodymyr.jpg"
              srcset="
                ./images/footer-modal/novitskyi-volodymyr.jpg    1x,
                ./images/footer-modal/novitskyi-volodymyr@2x.jpg 2x
              "
              alt="first team member"
              width="264"
            />
            <p class="card-thumb-text">
              Hi! I did a lot of work on this project.
            </p>
          </div>

          <div class="card-content">
            <h3 class="team-member-title">Volodymyr<br />Novitskyi</h3>
            <p class="team-item-text">Team lead</p>
            <ul class="member-soc-list list">
              <li class="member-soc-item">
                <a
                  href="https://github.com/LaPaNu4"
                  class="member-soc-link link"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                  aria-label="link to Github"
                >
                  <svg class="member-soc-icon" width="40" height="40">
                    <use href="./images/icons.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="member-soc-item">
                <a
                  href="https://www.linkedin.com/"
                  class="member-soc-link link"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                  aria-label="link to Linkedin"
                >
                  <svg class="member-soc-icon" width="28" height="28">
                    <use href="./images/icons.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>

        <!-- 2nd -->
        <li class="team-item">
          <div class="card-thumb">
            <img
              class="team-students-foto"
              src="./images/footer-modal/nastia-pirogova.jpg"
              srcset="
                ./images/footer-modal/nastia-pirogova.jpg    1x,
                ./images/footer-modal/nastia-pirogova@2x.jpg 2x
              "
              alt="decond team member"
              width="264"
            />
            <p class="card-thumb-text">
              Hi! I did a lot of work on this project.
            </p>
          </div>

          <div class="card-content">
            <h3 class="team-member-title">Anastasiia<br />Pirogova</h3>
            <p class="team-item-text">Scrum master</p>
            <ul class="member-soc-list list">
              <li class="member-soc-item">
                <a
                  href="https://github.com/Nastia-Pirogova"
                  class="member-soc-link link"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                  aria-label="link to Github"
                >
                  <svg class="member-soc-icon" width="40" height="40">
                    <use href="./images/icons.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="member-soc-item">
                <a
                  href="https://www.linkedin.com/in/anastasia-pirogova/"
                  class="member-soc-link link"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                  aria-label="link to Linkedin"
                >
                  <svg class="member-soc-icon" width="28" height="28">
                    <use href="./images/icons.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <!-- 3rd -->
        <li class="team-item">
          <div class="card-thumb">
            <img
              class="team-students-foto"
              src="./images/footer-modal/anton-burminskyi.jpg"
              srcset="
                ./images/footer-modal/anton-burminskyi.jpg    1x,
                ./images/footer-modal/anton-burminskyi@2x.jpg 2x
              "
              alt="third team member"
              width="264"
            />
            <p class="card-thumb-text">
              Hi! I did a lot of work on this project.
            </p>
          </div>

          <div class="card-content">
            <h3 class="team-member-title">Anton<br />Burminskyi</h3>
            <p class="team-item-text">Developer</p>
            <ul class="member-soc-list list">
              <li class="member-soc-item">
                <a
                  href="https://github.com/Burminskyi"
                  class="member-soc-link link"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                  aria-label="link to Github"
                >
                  <svg class="member-soc-icon" width="40" height="40">
                    <use href="./images/icons.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="member-soc-item">
                <a
                  href="https://www.linkedin.com/"
                  class="member-soc-link link"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                  aria-label="link to Linkedin"
                >
                  <svg class="member-soc-icon" width="28" height="28">
                    <use href="./images/icons.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <!-- 4th -->
        <li class="team-item">
          <div class="card-thumb">
            <img
              class="team-students-foto"
              src="./images/footer-modal/kerbut-yuliia.jpg"
              srcset="
                ./images/footer-modal/kerbut-yuliia.jpg    1x,
                ./images/footer-modal/kerbut-yuliia@2x.jpg 2x
              "
              alt="fourth team member"
              width="264"
            />
            <p class="card-thumb-text">
              Hi! I did a lot of work on this project.
            </p>
          </div>

          <div class="card-content">
            <h3 class="team-member-title">Yuliia<br />Kerbut</h3>
            <p class="team-item-text">Developer</p>
            <ul class="member-soc-list list">
              <li class="member-soc-item">
                <a
                  href="https://github.com/julichka-sun07"
                  class="member-soc-link link"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                  aria-label="link to Github"
                >
                  <svg class="member-soc-icon" width="40" height="40">
                    <use href="./images/icons.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="member-soc-item">
                <a
                  href="https://www.linkedin.com/"
                  class="member-soc-link link"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                  aria-label="link to Linkedin"
                >
                  <svg class="member-soc-icon" width="28" height="28">
                    <use href="./images/icons.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <!-- 5th -->
        <li class="team-item">
          <div class="card-thumb">
            <img
              class="team-students-foto"
              src="./images/footer-modal/beskrovna-larysa.jpg"
              srcset="
                ./images/footer-modal/beskrovna-larysa.jpg    1x,
                ./images/footer-modal/beskrovna-larysa@2x.jpg 2x
              "
              alt="fifth team member"
              width="264"
            />
            <p class="card-thumb-text">
              Hi! I did a lot of work on this project.
            </p>
          </div>

          <div class="card-content">
            <h3 class="team-member-title">Larisa<br />Beskrovna</h3>
            <p class="team-item-text">Developer</p>
            <ul class="member-soc-list list">
              <li class="member-soc-item">
                <a
                  href="https://github.com/LarisaBeskrovna"
                  class="member-soc-link link"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                  aria-label="link to Github"
                >
                  <svg class="member-soc-icon" width="40" height="40">
                    <use href="./images/icons.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="member-soc-item">
                <a
                  href="https://www.linkedin.com/"
                  class="member-soc-link link"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                  aria-label="link to Linkedin"
                >
                  <svg class="member-soc-icon" width="28" height="28">
                    <use href="./images/icons.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <!-- 6th -->
        <li class="team-item">
          <div class="card-thumb">
            <img
              class="team-students-foto"
              src="./images/footer-modal/kolesnichenko-anna.jpg"
              srcset="
                ./images/footer-modal/kolesnichenko-anna.jpg    1x,
                ./images/footer-modal/kolesnichenko-anna@2x.jpg 2x
              "
              alt="sixth team member"
              width="264"
            />
            <p class="card-thumb-text">
              Hi! I did a lot of work on this project.
            </p>
          </div>

          <div class="card-content">
            <h3 class="team-member-title">Anna<br />Kolesnichenko</h3>
            <p class="team-item-text">Developer</p>
            <ul class="member-soc-list list">
              <li class="member-soc-item">
                <a
                  href="https://github.com/AnnaKolesnichenko"
                  class="member-soc-link link"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                  aria-label="link to Github"
                >
                  <svg class="member-soc-icon" width="40" height="40">
                    <use href="./images/icons.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="member-soc-item">
                <a
                  href="https://www.linkedin.com/"
                  class="member-soc-link link"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                  aria-label="link to Linkedin"
                >
                  <svg class="member-soc-icon" width="28" height="28">
                    <use href="./images/icons.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <!-- 7th -->
        <li class="team-item">
          <div class="card-thumb">
            <img
              class="team-students-foto"
              src="./images/footer-modal/pavlova-valeriya.jpg"
              srcset="
                ./images/footer-modal/pavlova-valeriya.jpg    1x,
                ./images/footer-modal/pavlova-valeriya@2x.jpg 2x
              "
              alt="seventh team member"
              width="264"
            />
            <p class="card-thumb-text">
              Hi! I did a lot of work on this project.
            </p>
          </div>

          <div class="card-content">
            <h3 class="team-member-title">Valeriya<br />Pavlova</h3>
            <p class="team-item-text">Developer</p>
            <ul class="member-soc-list list">
              <li class="member-soc-item">
                <a
                  href="https://github.com/Valeru4"
                  class="member-soc-link link"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                  aria-label="link to Github"
                >
                  <svg class="member-soc-icon" width="40" height="40">
                    <use href="./images/icons.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="member-soc-item">
                <a
                  href="https://www.linkedin.com/"
                  class="member-soc-link link"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                  aria-label="link to Linkedin"
                >
                  <svg class="member-soc-icon" width="28" height="28">
                    <use href="./images/icons.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <!-- 8th -->
        <li class="team-item">
          <div class="card-thumb">
            <img
              class="team-students-foto"
              src="./images/footer-modal/pokasiuk-mykyta.jpg"
              srcset="
                ./images/footer-modal/pokasiuk-mykyta.jpg    1x,
                ./images/footer-modal/pokasiuk-mykyta@2x.jpg 2x
              "
              alt="eighth team member"
              width="264"
            />
            <p class="card-thumb-text">
              Hi! I did a lot of work on this project.
            </p>
          </div>

          <div class="card-content">
            <h3 class="team-member-title">Mykyta<br />Pokasiuk</h3>
            <p class="team-item-text">Developer</p>
            <ul class="member-soc-list list">
              <li class="member-soc-item">
                <a
                  href="https://github.com/mykytapokasiuk"
                  class="member-soc-link link"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                  aria-label="link to Github"
                >
                  <svg class="member-soc-icon" width="40" height="40">
                    <use href="./images/icons.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="member-soc-item">
                <a
                  href="https://www.linkedin.com/"
                  class="member-soc-link link"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                  aria-label="link to Linkedin"
                >
                  <svg class="member-soc-icon" width="28" height="28">
                    <use href="./images/icons.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <!-- 9th -->
        <li class="team-item">
          <div class="card-thumb">
            <img
              class="team-students-foto"
              src="./images/footer-modal/khyzhniak-tetiana.jpg"
              srcset="
                ./images/footer-modal/khyzhniak-tetiana.jpg    1x,
                ./images/footer-modal/khyzhniak-tetiana@2x.jpg 2x
              "
              alt="ninth team member"
              width="264"
            />
            <p class="card-thumb-text">
              Hi! I did a lot of work on this project.
            </p>
          </div>

          <div class="card-content">
            <h3 class="team-member-title">Tetiana<br />Khyzhniak</h3>
            <p class="team-item-text">Developer</p>
            <ul class="member-soc-list list">
              <li class="member-soc-item">
                <a
                  href="https://github.com/TataUA"
                  class="member-soc-link link"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                  aria-label="link to Github"
                >
                  <svg class="member-soc-icon" width="40" height="40">
                    <use href="./images/icons.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="member-soc-item">
                <a
                  href="https://www.linkedin.com/in/tetiana-khyzhniak/"
                  class="member-soc-link link"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                  aria-label="link to Linkedin"
                >
                  <svg class="member-soc-icon" width="28" height="28">
                    <use href="./images/icons.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <!-- 10th -->
        <li class="team-item">
          <div class="card-thumb">
            <img
              class="team-students-foto"
              src="./images/footer-modal/tsymbaliuk-mariia.jpg"
              srcset="
                ./images/footer-modal/tsymbaliuk-mariia.jpg    1x,
                ./images/footer-modal/tsymbaliuk-mariia@2x.jpg 2x
              "
              alt="tenth team member"
              width="264"
            />
            <p class="card-thumb-text">
              Hi! I did a lot of work on this project.
            </p>
          </div>

          <div class="card-content">
            <h3 class="team-member-title">Maria<br />Tsymbalyuk</h3>
            <p class="team-item-text">Developer</p>
            <ul class="member-soc-list list">
              <li class="member-soc-item">
                <a
                  href="https://github.com/TsymbalyukM"
                  class="member-soc-link link"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                  aria-label="link to Github"
                >
                  <svg class="member-soc-icon" width="40" height="40">
                    <use href="./images/icons.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="member-soc-item">
                <a
                  href="https://www.linkedin.com/"
                  class="member-soc-link link"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                  aria-label="link to Linkedin"
                >
                  <svg class="member-soc-icon" width="28" height="28">
                    <use href="./images/icons.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <!-- 11th -->
        <li class="team-item">
          <div class="card-thumb">
            <img
              class="team-students-foto"
              src="./images/footer-modal/syrota-serhii.jpg"
              srcset="
                ./images/footer-modal/syrota-serhii.jpg    1x,
                ./images/footer-modal/syrota-serhii@2x.jpg 2x
              "
              alt="eleventh team member"
              width="264"
            />
            <p class="card-thumb-text">
              Hi! I did a lot of work on this project.
            </p>
          </div>

          <div class="card-content">
            <h3 class="team-member-title">Serhii<br />Syrota</h3>
            <p class="team-item-text">Developer</p>
            <ul class="member-soc-list list">
              <li class="member-soc-item">
                <a
                  href="https://github.com/SergiiS95"
                  class="member-soc-link link"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                  aria-label="link to Github"
                >
                  <svg class="member-soc-icon" width="40" height="40">
                    <use href="./images/icons.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="member-soc-item">
                <a
                  href="https://www.linkedin.com/"
                  class="member-soc-link link"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                  aria-label="link to Linkedin"
                >
                  <svg class="member-soc-icon" width="28" height="28">
                    <use href="./images/icons.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <!-- 12th -->
        <li class="team-item">
          <div class="card-thumb">
            <img
              class="team-students-foto"
              src="./images/footer-modal/chubenko-maksym.jpg"
              srcset="
                ./images/footer-modal/chubenko-maksym.jpg    1x,
                ./images/footer-modal/chubenko-maksym@2x.jpg 2x
              "
              alt="twelfth team member"
              width="264"
            />
            <p class="card-thumb-text">
              Hi! I did a lot of work on this project.
            </p>
          </div>

          <div class="card-content">
            <h3 class="team-member-title">Maksym<br />Chubenko</h3>
            <p class="team-item-text">Developer</p>
            <ul class="member-soc-list list">
              <li class="member-soc-item">
                <a
                  href="https://github.com/Chekos10"
                  class="member-soc-link link"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                  aria-label="link to Github"
                >
                  <svg class="member-soc-icon" width="40" height="40">
                    <use href="./images/icons.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="member-soc-item">
                <a
                  href="https://www.linkedin.com/"
                  class="member-soc-link link"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                  aria-label="link to Linkedin"
                >
                  <svg class="member-soc-icon" width="28" height="28">
                    <use href="./images/icons.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <!-- 13th -->
        <li class="team-item">
          <div class="card-thumb">
            <img
              class="team-students-foto"
              src="./images/footer-modal/shapovalov-serhii.jpg"
              srcset="
                ./images/footer-modal/shapovalov-serhii.jpg    1x,
                ./images/footer-modal/shapovalov-serhii@2x.jpg 2x
              "
              alt="thirteenth team member"
              width="264"
            />
            <p class="card-thumb-text">
              Hi! I did a lot of work on this project.
            </p>
          </div>

          <div class="card-content">
            <h3 class="team-member-title">Serhii<br />Shapovalov</h3>
            <p class="team-item-text">Developer</p>
            <ul class="member-soc-list list">
              <li class="member-soc-item">
                <a
                  href="https://github.com/SerhiiShapovalov"
                  class="member-soc-link link"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                  aria-label="link to Github"
                >
                  <svg class="member-soc-icon" width="40" height="40">
                    <use href="./images/icons.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="member-soc-item">
                <a
                  href="https://www.linkedin.com/"
                  class="member-soc-link link"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                  aria-label="link to Linkedin"
                >
                  <svg class="member-soc-icon" width="28" height="28">
                    <use href="./images/icons.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
