<header class="main-header">
    <div class="container-header">
        <div class="navbar">
            <div class="logo">
                <a href="./index.html" class="logotype">
                    <svg class="logo-icon">
                        <use
                        href="./images/header-logo/header-logotype.svg#icon-logotype"
                        ></use>
                    </svg>
                </a>
                <a href="./index.html" class="text-logo">Cinemania</a>
            </div>
            <ul class="links">
                <li class="menu-item-mobile"><button type="button" class="menu-btn-mobile">Menu</button></li>
                <li class="menu-item"><a href="./index.html" class="menu-link">Home</a></li>
                <li class="menu-item"><a href="./catalog.html" class="menu-link">Catalog</a></li>
                <li class="menu-item"><a href="./library.html" class="menu-link">My library</a></li>
                <div class="mobile-menu">
                    <ul class="mobile-links">
                    <li class="mobile-logo"><a href="" class="logotype">
                        <svg class="logo-icon" width="32px" height="32px">
                            <use
                            href="./images/header-logo/header-logotype.svg#icon-logotype"
                            ></use>
                        </svg>
                    </a></li>
                    <li class="mobile-menu-item"><a href="./index.html" class="mobile-menu-link">HOME</a></li>
                    <li class="mobile-menu-item"><a href="./catalog.html" class="mobile-menu-link">CATALOG</a></li>
                    <li class="mobile-menu-item"><a href="./library.html" class="mobile-menu-link">MY LIBRARY</a></li>
                    </ul>
                </div>
                <div class="backdrop is-hidden"></div>
            </ul>
            <button class="color-mode-button" type="button">Click</button>
        </div>
    </div>
</header>
