<section class="hero-section hero-section-main">
    <div class="hero-container">
        <div class="hero-default">
            <h1 class="hero-title hero-title-main">Let’s Make Your Own Cinema</h1>
            <p class="hero-text hero-text-main">Is a guide to creating a personalized movie theater experience. You'll need a projector, screen, and speakers. Decorate your space, choose your films, and stock up on snacks for the full experience.</p>
            <a href="./catalog.html">
                <button class="hero-btn" type="button" name="get-started-btn">Get Started</button>
            </a>
        </div> 
        <div class="hero-random hero-hidden">
            <h1 class="hero-title hero-title-main">Let’s Make Your Own Cinema</h1>
            <div class="rating">
                <div class="rating-body">
                    <div class="rating-active"></div>
                    <div class="rating-items">
                        <input class="rating-item" type="radio" value="1" name="rating">
                        <input class="rating-item" type="radio" value="2" name="rating">
                        <input class="rating-item" type="radio" value="3" name="rating">
                        <input class="rating-item" type="radio" value="4" name="rating">
                        <input class="rating-item" type="radio" value="5" name="rating">
                    </div>
                </div>
            </div>
            <p class="hero-text hero-text-main">Is a guide to creating a personalized movie theater experience. You'll need a projector, screen, and speakers. Decorate your space, choose your films, and stock up on snacks for the full experience.</p>
            <button class="hero-btn" type="button" name="get-started-btn">Get Started</button>
        </div>         
    </div>
</section>