<section class="hero-section">
  <div class="hero-container">
    <div class="hero-default hero-hidden">
      <picture class="hero-img">
        <source
          srcset="
            ./images/hero-img/hero-lib-desk-min.jpg    1x,
            ./images/hero-img/hero-lib-desk-2x-min.jpg 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./images/hero-img/hero-lib-tab-min.jpg    1x,
            ./images/hero-img/hero-lib-tab-2x-min.jpg 2x
          "
          media="(min-width: 321px)"
        />
        <source
          srcset="
            ./images/hero-img/hero-lib-mob-min.jpg    1x,
            ./images/hero-img/hero-lib-mob-2x-min.jpg 2x
          "
          media="(max-width: 320px)"
        />
        <img
          src="./images/hero-img/hero-lib-desk-min.jpg"
          alt="cinema-lib-default"
        />
      </picture>
      <h1 class="hero-title hero-title-lib">Create Your Dream Cinema</h1>
      <p class="hero-text hero-text-lib">
        Is a guide to designing a personalized movie theater experience with the
        right equipment, customized decor, and favorite films. This guide helps
        you bring the cinema experience into your own home with cozy seating,
        dim lighting, and movie theater snacks.
      </p>
    </div>

    <div class="hero-random hero-hidden">
      <!-- render -->
      <div class="hero-random-btn">
        <button class="hero-btn hero-watch" type="button" data-catalog-item>Watch trailer</button>
        <button class="hero-btn hero-info" type="button" data-catalog-item>More details</button>
    </div>
    </div>    
  </div>

  <div class="popup popup-hidden">
    <div class="popup-body">
      <div class="popup-content">
        <a href="" class="popup-close">
          <svg class="popup-icon-out" width="16px" height="16px">
            <use
              href="./images/icons.svg#icon-close-outline"
            ></use>
          </svg>
          <svg class="popup-icon" width="7px" height="7px">
            <use
              href="./images/icons.svg#icon-close"
            ></use>
          </svg>
        </a>
        <div class="popup-content-default">
          <p class="popup-text">OOPS...<br>We are very sorry!<br>But we couldn’t find the trailer.</p>
         <img src="./images/hero-img/popup-min.png" alt="popup" class="popup-img" width="159px" height="153px">
        </div>

        <div class="popup-content-render hero-hidden">
          <!-- render -->
        </div>
      </div>      
    </div>
  </div>
</section>

<!-- hero-section-lib -->
