<section class='cards-library'>
  <div class='container'>
    <div class='dropdown-library'>
      <div class='dropdown-toggle-library' data-filter='all'>Genre</div>
      <div class='dropdown-menu-library' id='dropdownMenuLibrary'>
        <div class='dropdown-item-library' data-filter='romance'>Romance</div>
        <div class='dropdown-item-library' data-filter='detective'>Detective</div>
        <div class='dropdown-item-library' data-filter='thriller'>Thriller</div>
        <div class='dropdown-item-library' data-filter='action'>Action</div>
        <div class='dropdown-item-library' data-filter='documentary'>Documentary</div>
        <div class='dropdown-item-library' data-filter='horror'>Horror</div>
      </div>
    </div>
    <div class='movies-gallery-catalog'>
      <ul class="movies-gallery list"></ul>
      <button type="submit" class="load">Load more</button>
    </div>

    <div class="empty-gallery">
      <div class="notify">
        <p class="notify-message">Ooops...<br/> We are very sorry! <br/> You don't have any movies at your library.
        </p>
      </div>
      <button type="submit" class="search-more">Search movie</button>
    </div>
  </div>
</section>