
<section>
    <section class="library">
        <div class="back container">
            <h1 class="library-name"></h1>
            <div class="starter">
                <h1 class="library-title">create your dream cinema</h1>
                <p class="library-description">Is a guide to designing a personalized movie theater 
                    experience with the right equipment, customized decor, 
                    and favorite films. This guide helps you bring the cinema experience 
                    into your own home with cozy seating, 
                    dim lighting, and movie theater snacks.</p>
            </div>
        </div>
    </section>
 
    <section>
        <div class="gallery container">
            
            <div class="genres">
                <button class="drop" data-value="any">Genres</button>
                <div class="drop-content">
                    <a href="#" class="drop-item" data-value="romance">Romance</a>
                    <a href="#" class="drop-item" data-value="detective">Detective</a>
                    <a href="#" class="drop-item" data-value="thriller">Thriller</a>
                    <a href="#" class="drop-item" data-value="action">Action</a>
                    <a href="#" class="drop-item" data-value="documentary">Documentary</a>
                    <a href="#" class="drop-item" data-value="horror">Horror</a>
                </div>
            </div>

            <div>
                <gallery class="movies-gallery list"></gallery>
                <button type="submit" class="load">Load more</button>
            </div>

            <div class="empty-gallery">
                <div class="notify">
                    <p class="notify-message">Ooops...<br/> We are very sorry! <br/> You don't have any movies at your library.
                    </p>
                </div>
                <button type="submit" class="search-more">Search movie</button>
            </div>
        </div>
    </section>
</section>