<div class="modal-backdrop is-hidden">
  <div class="film-card">
    <div class="film-card-container">
      <div class="film-card-header">
        <button type="button" class="film-card-close-btn">
          <svg width="24" height="24">
            <use
              class="film-card-close-btn-icon"
              href="./images/icons.svg#icon-close-outline"
            ></use>
          </svg>
        </button>
      </div>
      <div class="film-card-content">
        <!-- <div class="film-card-poster">
          <img
            src="./images/modal/john-wick-tab@2x.webp"
            alt="John Wick poster"
          />
        </div>
        <div class="film-summary">
          <h2 class="film-title">John Wick: Chapter 4</h2>
          <ul class="film-info-list">
            <li class="film-info-list-item">
              <ul>
                <li class="film-vote">Vote / Votes</li>
                <li class="film-popularity">Popularity</li>
                <li class="film-genre">Genre</li>
              </ul>
            </li>
            <li class="film-info-list-item">
              <ul>
                <li>
                  <span class="film-vote-text">7.3</span> /
                  <span class="film-votes-text">1260</span>
                </li>
                <li class="film-popularity-text">100.2</li>
                <li class="film-genre-text">Action Thriller Crime</li>
              </ul>
            </li>
          </ul>
          <p class="film-about">About</p>
          <p class="film-text">
            John Wick (Keanu Reeves) takes on his most lethal adversaries yet in
            the upcoming fourth instalment of the series. With the price on his
            head ever increasing, John Wick uncovers a path to defeating The
            High Table. But before he can earn his freedom, Wick must face off
            against a new enemy with powerful alliances across the globe and
            forces that turn old friends into foes. Lorem ipsum dolor sit amet,
            consectetur adipisicing elit. Delectus iusto eius minima aperiam
            accusamus deleniti placeat porro mollitia nostrum enim!
          </p>
          <div class="film-card-btn-container">
            <button type="button" class="film-card-btn" data-btn-active>
              Add to my library
            </button>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>
