<div class="modal-backdrop is-hidden">
  <div class="film-card">
    <div class="film-card-container">
      <div class="film-card-header">
        <button type="button" class="film-card-close-btn">
          <svg width="24" height="24">
            <use
              class="film-card-close-btn-icon"
              href="./images/icons.svg#icon-close-outline"
            ></use>
          </svg>
        </button>
      </div>
     <div class="film-card-content">
        
      </div>
    </div>
  </div>
</div>
