        <div class="form_item">
            <div class="form_lebel"> </div>
            <div data-ajax="true" class="rating rating_set">
                <div class="rating_body">
                    <div class="rating_active"></div>
                    <div class="rating_items">
                        <!-- <label>
                            <input type="radio" class="rating_item" value="1" name="rating">
                            <svg class="rating_icon" viewBox="0 0 36 32">
                              <use xlink:href="#icon-ratingStar"></use>
                            </svg>
                          </label>
                          
                          <label>
                            <input type="radio" class="rating_item" value="2" name="rating">
                            <svg class="rating_icon" viewBox="0 0 36 32">
                              <use xlink:href="#icon-ratingStar"></use>
                            </svg>
                          </label>
                          
                          <label>
                            <input type="radio" class="rating_item" value="3" name="rating">
                            <svg class="rating_icon" viewBox="0 0 36 32">
                              <use xlink:href="#icon-ratingStar"></use>
                            </svg>
                          </label>
                          
                          <label>
                            <input type="radio" class="rating_item" value="4" name="rating">
                            <svg class="rating_icon" viewBox="0 0 36 32">
                              <use xlink:href="#icon-ratingStar"></use>
                            </svg>
                          </label>
                          
                          <label>
                            <input type="radio" class="rating_item" value="5" name="rating">
                            <svg class="rating_icon" viewBox="0 0 36 32">
                              <use xlink:href="#icon-ratingStar"></use>
                            </svg>
                          </label> -->
                        <input type="radio" class="rating_item" value="1" name="rating">
                        <input type="radio" class="rating_item" value="2" name="rating">
                        <input type="radio" class="rating_item" value="3" name="rating">
                        <input type="radio" class="rating_item" value="4" name="rating">
                        <input type="radio" class="rating_item" value="5" name="rating">
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="rating_value"> 4.0 </div> -->

