p {
  margin: 0;
}

.catalog {
  padding-top: 40px;
}

.catalog-container {
  margin-left: auto;
  margin-right: auto;
  width: 320px;
  padding-left: 20px;
  padding-right: 20px;
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.search-form input {
  padding-left: 20px;
  width: 224px;
  height: 40px;

  border: 1px solid #ffffff;
  border-radius: 8px;
  background: transparent;

  color: #ffffff;
}

.search-form input::placeholder {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);

  color: #b7b7b7;
}

.search-form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;

  cursor: pointer;

  background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
  border-radius: 50%;
  border: none;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 0;
  list-style-type: none;
}

.catalog-item {
  position: relative;
  width: 280px;
  height: 406px;
}

.image-wrap {
  width: 100%;
  height: 100%;
}
.photo-card {
  height: inherit;
}

.photo-card img {
  height: inherit;
  width: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
}

.image-wrap:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 63.48%,
    rgba(0, 0, 0, 0.9) 92.16%
  );
}

.film-info {
  max-width: 60%;
  position: absolute;
  left: 12px;
  bottom: 12px;

  font-family: 'Roboto';
  font-weight: 500;
  font-size: 12px;
  line-height: calc(20 / 12);

  color: #ffffff;
}

.info {
  display: flex;
  gap: 5px;
  color: #b7b7b7;
}

@media screen and (min-width: 768px) {
  .catalog-container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .search-form {
    margin-bottom: 36px;
  }
  .search-form input {
    width: 204px;
  }
  .catalog-list {
    row-gap: 28px;
  }
  .catalog-item {
    width: 224px;
    height: 325px;
  }
  .film-info {
    line-height: calc(18 / 12);
  }
}

@media screen and (min-width: 1280px) {
  .catalog-container {
    width: 1280px;
  }
  .search-form {
    margin-bottom: 48px;
  }
  .search-form input {
    width: 334px;
    padding-left: 24px;
  }
  .search-form input::placeholder {
    font-size: 16px;
    line-height: calc(19 / 16);
  }
  .catalog-item {
    width: 394px;
    height: 574px;
  }
  .film-info {
    bottom: 20px;
    left: 20px;
    font-size: 20px;
    line-height: calc(23 / 20);
  }
  .film-title {
    margin-bottom: 12px;
  }
  .catalog-list {
    row-gap: 32px;
  }
}
