
.container-header{
    position: relative;
    width: 100%;
    padding: 8px 20px;
    margin: auto;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.container-header{
    position: relative;
    width: 100%;
    padding: 8px 20px;
    margin: auto;
}
.main-header{
    background-color: #000000;
}

.logo-icon{
    width: 32px;
    height: 32px;
}
.links{
    list-style: none;
    padding: 0;
    margin: 0;
    color: #B7B7B7;
}
.menu-btn-mobile{
    text-decoration: none;
    font-family: 'Roboto-500',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #B7B7B7;
    background-color: transparent;
    border-color: transparent;
    padding: 0;
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-btn-mobile.hide{
    opacity: 0;
}
.mobile-menu{
    position: absolute;
    top: 0;
    right: 100%;
    z-index: 1000;
    width: 204px;
    height: 100vh;
    padding: 8px 20px;
    border-radius: 0 8px 8px 0;
    background: var(--bgmenu);
    transform: translateX(0);
    transition: transform 250ms ease-in-out ;
}

.mobile-menu.is-open{
    transform: translateX(100%);
}
.mobile-logo{
    margin-bottom: 40px;
}
.mobile-menu-link{
    display: contents;
    font-family: 'Roboto-400',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: var(--white);
}

.mobile-menu-link.active{
    color: #F87719;
}

.mobile-menu-item:not(:last-child){
    margin-bottom: 24px;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 0 18px;
    z-index: 950;
}
.header-scroll-disabled{
    overflow: hidden;
}
.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}
.mobile-links{
    padding: 0;
    margin: 0;
}
.text-logo{
    display: none;
    text-decoration: none;
}
.logo{
    display: flex;
    align-items: center;
}

.menu-link{
    display: none;
}

@media screen and (min-width: 768px) {
    .container-header {
        width: 768px;
        padding: 6px 32px;
    }
    .mobile-menu{
        display: none;
    }
    .logo-icon{
        width: 48px;
        height: 48px;
    }
    .logotype{
        margin-right: 8px;
    }
    .text-logo{
        display: contents;
        text-decoration: none;
        font-family: 'Roboto-400',sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;

    }
    .navbar{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .menu-link.active:hover,
    .munu-link.active:focus{
        color: #B7B7B7;
    }
    .color-mode-button{
        margin-left: auto;
    }
    .logo{
        margin-right: 59px;
    }
    .menu-link{
        display: contents;
        font-family: 'Roboto-500',sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        text-transform: uppercase;

    }
    .menu-link.active{
        color: #F87719;
    }
    .menu-btn-mobile{
        display: none;
    }
    .links{
        display: flex;
        align-items: center;
    }
    .menu-item:not(:nth-last-child(3)){
        margin-right: 32px;
    }
}

@media screen and (min-width: 1280px) {
    .container-header {
        width: 1280px;
    }
    .links{
        gap: unset;
    }
    .menu-item:not(:nth-last-child(3)){
        margin-right: 40px;
    }
    .menu-link{
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .menu-link:hover,
    .munu-link:focus{
        color: #F87719;
    }
    .navbar{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .logo{
        margin: 0;
    }
    .color-mode-button{
        margin: 0;
    }
}