section.cards-library {
  margin: 40px 0 0 0;
}

.container-library {
  width: 100%;
  padding: 0 20px;
  margin: auto;
}

.dropdown-library {
  margin: 0 0 16px;
  display: inline-block;
  position: relative;
}

.dropdown-toggle-library {
  padding: 10px 56px 10px 16px;
  width: 173px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  line-height: 16px;
  background-color: transparent;
  border: 1px solid var(--white);
}


.dropdown-menu-library {
  width: 172px;
  background-color: var(--dropdown);
  border: 1px solid var(--white);
  z-index: 5000;
  border-radius: 8px;
  display: none;
  position: absolute;
}

.dropdown-item-library {
  cursor: pointer;
  border-bottom: 1px solid var(--white);
  width: 100%;
  padding: 14px 66px 10px 20px;
  font-size: 14px;
  line-height: 20px;
}

.dropdown-item-library:hover {
  color: var(--orange);
}

.dropdown-item-library:active {
  color: var(--orange);
}

.dropdown-item-library:last-child {
  border: none;
}

.dropdown-toggle-library::before {
  content: '';
  background-image: url(../images/chevron-down.svg);
  display: block;
  width: 16px;
  height: 16px;
  opacity: 10;
  fill: var(--white);
  transition: transform 0.3s;
  position: absolute;
  bottom: 11px;
  left: 142px;
}

.dropdown-toggle-library.rotated::before {
  transform: rotate(180deg);
}

.dropdown-item-library.\.dropdown-item-library-color {
  color: var(--orange);
}

/*-----------------------------------Catalog-----------------*/
/* .movies-gallery-catalog {
  display: flex;
  flex-direction: column;
  align-items: center;
} */


.movies-gallery {
  display: flex;
  gap: 16px;
  color: #fff;
  flex-direction: column;
  width: 280px;
  /* align-items: center; */
  margin-right: auto;
  margin-left: auto;
}

.movie-item {
  width: 280px;
  height: 406px;
  position: relative;
  margin-bottom: 16px;
}

.movie-info {
  display: flex;
  position: absolute;
  bottom: 12px;
  left: 12px;
  justify-content: space-between;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 50px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 63.48%, rgba(0, 0, 0, 0.9) 92.16%);

}

.genre_year {
  display: flex;
}


.movie-title {
  text-transform: uppercase;
  font-family: 'Roboto-500', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
}

.movie-genre {
  font-family: 'Roboto-500', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  margin-right: 10px;
}

/* .movie-year::before {
  content: '';
  display: block;
  height: 10px;
  width: 1px;
  background-color: white;
} */

.movie-year {
  font-family: 'Roboto-500', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
}

.movie-rating {
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
}

.load,
.search-more {
  margin: 24px auto 40px auto;
  padding: 12px 24px;
  height: 38px;
  background: linear-gradient(141.22deg, #FFC226 9.4%, #F84119 91.91%);
  border-radius: 74px;
  border: 1px solid var(--orange);
  font-family: 'Roboto-500', sans-serif;
  font-weight: 500;
  font-size: 12px;
  display: flex;
  align-items: center;
  line-height: 1.17;
}

.search-more:hover {
  color: var(--orange);
  background-color: transparent;
  background-image: none;
  border: 1px solid var(--orange);
}

.load:hover {
  color: var(--orange);
  background-color: transparent;
  background-image: none;
  border: 1px solid var(--orange);
}

/* .movies-gallery-catalog {
  text-align: center;
} */

.notify-message {
  text-align: center;
  color: var(--white);
}

.empty-gallery {
  text-align: center;
  /* display: none; */
}

.hide {
  display: none;
}

.show {
  display: block;
}

@media screen and (min-width: 768px) {

  section.cards-library {
    margin: 60px 0 0 0;
  }

  .container-library {
    width: 768px;
    padding: 0 32px;
  }

  .dropdown-toggle-library {
    padding: 12px 60px 12px 20px;
    width: 144px;
  }

  .dropdown-item-library {
    padding: 14px 66px 14px 20px;
  }

  .dropdown-menu-library {
    width: 144px;
  }

  .dropdown-library {
    margin: 0 0 36px;
  }

  .dropdown-toggle-library:before {
    bottom: 13px;
    left: 114px;
  }

  /*-----------------------------Catalog------------*/
  .movies-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 704px;
    gap: 16px;
    margin-right: auto;
    margin-left: auto;
  }

  .movie-item {
    width: 224px;
    height: 325px;
    position: relative;
    margin-bottom: 16px;
  }

  .movie-info {
    display: flex;
    position: absolute;
    bottom: 12px;
    left: 12px;
    justify-content: space-between;
  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 50px;
  }

  .genre_year {
    display: flex;
  }

  .movie-title {
    text-transform: uppercase;
    font-family: 'Roboto-500', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
  }

  .movie-genre {
    font-family: 'Roboto-500', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    margin-right: 10px;
  }

  /* .movie-year::before {
    content: '';
    display: block;
    height: 10px;
    width: 1px;
    background-color: white;
  } */
  .movie-year {
    font-family: 'Roboto-500', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
  }

  .movie-rating {
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
  }

  /*------------------Buttons------------------------*/
  .load,
  .search-more {
    font-size: 14px;
    /*line-height: 16px;*/
    line-height: 1.43;
    padding-top: 9px;
  }

  .notify {
    margin: 44px 0 0 0;
  }

  .notify-message {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    text-align: center;
    color: var(--white);
    font-family: 'Roboto-400', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
  }

}

@media screen and (min-width: 1280px) {
  section.cards-library {
    margin: 80px 0 0 0;
  }

  .container-library {
    width: 1280px;
  }

  .dropdown-library {
    margin: 0 0 48px 0;
  }

  .dropdown-toggle-library {
    padding: 12px 188px 12px 20px;
    width: 260px;
    font-size: 16px;
    line-height: 19px;
  }

  .dropdown-item-library {
    padding: 14px 66px 14px 20px;
    font-size: 16px;
    line-height: 19px;
  }

  .dropdown-menu-library {
    width: 260px;
  }

  /*-------------Catalog--------------*/
  .movies-gallery {
    display: flex;
    gap: 16px;

    width: 1214px;
    margin-right: auto;
    margin-left: auto;
  }

  .movie-item {
    width: 394px;
    height: 574px;
    position: relative;
    margin-bottom: 16px;
  }

  .movie-info {
    display: flex;
    position: absolute;
    bottom: 12px;
    left: 12px;
    justify-content: space-between;
  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 50px;

  }

  .genre_year {
    display: flex;
  }


  .movie-title {
    text-transform: uppercase;
  }

  .movie-genre,
  .movie-title,
  .movie-year {
    font-family: 'Roboto-400', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
  }

  /* .movie-year::before {
    content: '';
    display: block;
    height: 10px;
    width: 1px;
    background-color: white;
  } */
  .movie-rating {
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
  }


  .load,
  .search-more {
    font-size: 18px;
    line-height: 1.5;
    height: 52px;
    padding-top: 12px;
  }

  .notify {
    margin-top: 44px;
    margin-right: auto;
    margin-left: auto;
  }

  .notify-message {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;

  }

  .dropdown-toggle-library:before {
    bottom: 13px;
    left: 223px;
  }
}