.rating {
    display: flex;
    align-items: flex-end;
    font-size: 25px;
    line-height: 0.75;
}

.rating_body {
    position: relative;
}
.rating_body::before{
    content: '\2606''\2606''\2606''\2606''\2606';
    color: #F89F19;
    display: block;
}


.rating_active {
    position: absolute;
    width:0;
    height: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
}

.rating_active::before{
    content: "★★★★★";
    position: absolute;
    width:100%;
    height: 100%;
    left: 0;
    top: 0;
    color: #F89F19;
}

.rating_items {
    display: flex;
    position: absolute;
    width:100%;
    height: 100%;
    top: 0;
    left: 0;
}

.rating_item {
    flex: 0 0 20%;
    height: 100%;
    opacity: 0;
}

.rating_value {
    font-size: 80%;
    line-height: 1;
    padding: 0 0 0 10px;
}
