@import url(./hero.css);
@import url(./library.css);
@import url(./catalog.css);
@import url(./modal.css);
@import url(./header.css);
@import url(./rating.css);
@import url(./footer.css);
@import url(./weekly-trends.css);



@font-face {
  font-family: Roboto-700;
  src: url(../font/Roboto-Bold.ttf);
}

@font-face {
  font-family: Roboto-500;
  src: url(../font/Roboto-Medium.ttf);
}

@font-face {
  font-family: Roboto-400;
  src: url(../font/Roboto-Regular.ttf);
}

:root {
  --black: #111111;
  --gray-dark: #282828;
  --gray: #595959;
  --gray-light: #b7b7b7;
  --white: #ffffff;
  --silver: #f8f8f8;
  --orange: #f87719;
  --gradient-1: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
  --gradient-2: linear-gradient(141.22deg,
      #f84119 9.4%,
      rgba(248, 159, 25, 0.68) 91.91%);
}

body {
  font-family: 'Roboto-400', sans-serif;
  background: var(--black);
  color: var(--white);
}

.container {
  width: 100%;
  padding-left: 32px;
  padding-right: 32px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

li {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: currentColor;
  text-decoration: none;
}

/*
.container {
  width: 100%;
  padding: 0 20px;
  margin: auto;
}


@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 32px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}
*/