@font-face {
  font-family: Roboto-700;
  src: url(../font/Roboto-Bold.ttf);
}
@font-face {
  font-family: Roboto-500;
  src: url(../font/Roboto-Medium.ttf);
}
@font-face {
  font-family: Roboto-400;
  src: url(../font/Roboto-Regular.ttf);
}

body {
  font-family: 'Roboto-400', sans-serif;
  background: #111111;
}
.container {
  width: 100%;
  padding-left: 32px;
  padding-right: 32px;
  margin: 0 auto;
}
